.b__container__section{
    width: 1120px;
    margin: 0 auto;
}
.b-intro{
    background: #fff;
    box-shadow: 0 15px 20px rgba(0,0,0,.03);
    font-family: Roboto,Arial,sans-serif;
    padding: 40px 0 80px;
    .b-intro__header{
        text-align: center;
    }
    .b-intro__title{
        color: #181d21;
        font-size: 30px;
        font-weight: 600;
    }
    .b-intro__subtitle{
        color: #979ea7;
        font-size: 16px;
        line-height: 1.3em;
    }
    .b-intro__body{
        padding-top: 60px;
        .b-search{
            display: flex;
            position: relative;
            width: 100%;
        }
        .b-search__form{
            display: flex;
            width: 100%;
            .b-search__input-wrapp{
                position: relative;
                width: 100%;
            }
            .b-search__btn{
                flex: 0 0 194px;
                margin-left: 16px;
                .ui-text_button {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 1.25px;
                    line-height: 16px;
                    text-transform: uppercase;
                    font-family: Roboto,Arial,sans-serif;
                    font-style: normal;
                }
            }
            .b-button_big{
                height: 56px;
            }
            .b-button_red{
                background-color: #ec2327;
                color: #fff;
                transition-duration: .2s;
                transition-property: background-color;
                transition-timing-function: cubic-bezier(.4,0,.2,1);
            }
        }
    }
}
.b-search .twitter-typeahead {
    width: 100%;
}
.b-search__menu {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0,0,0,.1);
    color: #181d21;
    font-size: 16px;
    top: calc(100% + 8px)!important;
    width: 100%;
}
.b-search__label {
    color: #c7d3d9;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    left: 26px;
    pointer-events: none;
    position: absolute;
    top: 18px;
    transform: translateY(0);
    transition: .2s ease-in-out;
}
.b-intro__stat {
    display: flex;
    justify-content: center;
    margin: 60px 0px 0;
    .b-intro__stat-item {
        // text-align: center;
        padding-right: 9px;
    }
    .b-intro__stat-item-img {
        margin-bottom: 16px;
        display: inline-block;
        font-size: 30px;
        vertical-align: middle;
        color: #117dc1;
        padding: 0 5px;
    }
    .b-intro__stat-item-content {
        border-right: 1px solid #e8eaeb;
        box-sizing: border-box;
        display: inline-block;
        padding-left: 4px;
        padding-right: 24px;
        vertical-align: middle;
        // width: calc(100% - 60px);
        &:last-child{
            border:none;
        }
        .b-intro__stat-item-name {
            color: #979ea7;
            font-size: 16px;
            margin-bottom: 6px;
        }
        .b-intro__stat-item-num {
            color: #181d21;
            font-size: 25px;
            font-weight: 600;
        }
    }
    .b-intro__stat-item-footer {
        margin-top: 11px;
        .b-intro__stat-item-week-num {
            border: 2px solid #30b786;
            border-radius: 5px;
            // border-right: none;
            box-sizing: border-box;
            color: #30b786;
            display: inline-block;
            font-weight: 600;
            height: 28px;
            line-height: 1em;
            margin-left: 14px;
            padding: 5.5px 10px 0 8px;
            position: relative;
            vertical-align: middle;
        }
    }
}